body{
    background-color: blueviolet;
}
#services{
    margin: 34px;
    display: block;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 
.h-primary{
    text-align: center;
    color:aqua;
}
#services .box img{ 
    display: block;
    display: block;
    margin: auto;
 }